<!doctype html>
<html ng-app>
  <head>
    <script src="angular.min.js"></script>
    <script src="booli-popup.js"></script>
    <title>Booli exclude</title>
    <style>
      body {
        min-width: 357px;
        overflow-x: hidden;
      }

      img {
        margin: 5px;
        border: 2px solid black;
        vertical-align: middle;
        width: 75px;
        height: 75px;
      }
    </style>
  </head>
  <body ng-controller="booliPopupController">
        <input style="text" id="exclude-text" ng-model="query"></input><button id="exclude-button" ng-click="excludeClick(query)">Exclude</button>
  <ul>
    <li ng-repeat="exclusion in exclusions"> {{exclusion}}
      <button ng-click="removeExclusion(exclusion)">Remove</button>
    </li>
  </ul>
  </body>
</html>